.manage-accounts-page{

    .cb-account-list{
        list-style: none;
    }
    
    .table{
        
        th{
            border-top: none;
            border-bottom: none;
        }

        td{
            border-top: none;
        }

        td:not(:last-child){
            border-right: 1px solid $brand-color;
        }
        
        tr{

            td:first-child{
                font-weight: bold;
            }
            
            td:nth-child(3){
                font-weight: bold;
            }
        }
    }
}