<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MBM.BillingEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- Old STAGING Database ConnectionString KSMC-->
    <!--<add name="MBMConnectionString" connectionString="Data Source=SQLDEV02DB;Initial Catalog=MBMStg;Persist Security Info=True;User ID=MBMUser; password=Mbm@2016" providerName="System.Data.SqlClient"/>-->
    <!-- DEV Database ConnectionString-->
    <add name="MBMConnectionString" connectionString="Data Source=HVSQL61d;Initial Catalog=MBMdev;Persist Security Info=True;User ID=MBMUser; password=Mbm@2016" providerName="System.Data.SqlClient"/>
    <add name="ExcelConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'"/>
    <!-- STAGE Database ConnectionString-->
    <!--<add name="MBMConnectionString" connectionString="Data Source=HVSQL41s;Initial Catalog=MBMStg;Persist Security Info=True;User ID=MBMUser; password=Mbm@2016" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <applicationSettings>
    <MBM.BillingEngine.Properties.Settings>
      <setting name="MBM_BillingEngine_CBTSService_CBTSService" serializeAs="String">
        <value>http://localhost:1114/CBTSService.svc</value>
      </setting>
    </MBM.BillingEngine.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="Delimiter" value=","/>
    <add key="Columns" value="21"/>
    <add key="ServerPath" value="C:\MBMExportFiles\"/>
    <add key="MBMChargeFilePath" value="\\HVSALPOR02D\e$\MBMChargeFiles\"/>
    <add key="EHCSItemType" value="A"/>
    <add key="EHCSSubType" value="VOI"/>
    <!--<add key="CBTSService.CBTSService" value="http://bizservices1dev.cinbell.com:3674/CBTSService.svc"/>-->
    <!--add key="CBTSService.CBTSService" value="http://hvquorum02:3674/CBTSService.svc"/>-->
    <add key="CBTSService.CBTSService" value="http://localhost:1114/CBTSService.svc"/>
    <add key="OffsetDaysBefore" value="1"/>
    <add key="OffsetDaysAfter" value="3"/>
    <add key="CurrentDayOffset" value="0"/>
    <add key="SmtpServer" value ="casarray.cinbell.com"/>
    <add key="EmailFromAddress" value="customercare@cinbell.com"/>
    <add key="EmailToAddress" value="prasad.tondare@altafiber.com"/>
    <add key="AutomationPostBillDays" value="2"/>
      <!--The license context used-->
      <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
<!--CBE-1582--> 
    <add key="CSGAscendonUserName" value="cbtssbx" />
    <add key="CSGAscendonPassword" value="CbtsAscendonsbx@2020" />
    <add key="CSGAscendonSystemID" value="0c8de24c-301c-45c6-81df-f552114a9536" />
     <add key="RetrieveSubscriber" value="https://services.sbx1.cdops.net/subscribermanagement/RetrieveSubscriber"/>
     <add key="RetrieveHierarchy" value="https://services.sbx1.cdops.net/subscribermanagement/RetrieveHierarchy"/>
    <add key="RetrieveSubscriberRateSheet" value="https://services.sbx1.cdops.net/subscribermanagement/RetrieveSubscriberRateSheet"/>
  <!--CBE-1582-->
  </appSettings>
  <system.web>
    <authentication mode="Windows"/>
    <authorization>
      <!--<deny users="?"/>-->
    </authorization>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Microsoft.AspNet.Identity"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
  </system.webServer>
  <!--<system.net>
    <mailSettings>
      <smtp from="customercare@cinbell.com">
        <network host="cbtmaila.cinbell.com"/>
      </smtp>
    </mailSettings>
  </system.net>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>