<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="gcom" connectionString="Data Source=CP001039; Initial Catalog=Gcom; Integrated Security=SSPI;" />
    <add name="gcomTest" connectionString="Data Source=CP001037T; Initial Catalog=Gcom; Integrated Security=SSPI;" />
    <add name="sdd" connectionString="Data Source=CP001039; Initial Catalog=CBTS_GCOM; Integrated Security=SSPI;" />
    <add name="VIPR" connectionString="Data Source=C6VSQL01DB; Initial Catalog=Vipr; Integrated Security=SSPI;" />
  </connectionStrings>

  <appSettings>
    <!--Mail Servers-->
    <add key="MailServer1" value="172.16.216.160"/>
    <add key="MailServer2" value="172.16.216.161"/>
    <add key="MailServer3" value="172.16.216.29"/>
    
    <!-- ALL VERSIONS -->
    <add key="mailFrom" value="cbtsgcomorder@cbts.cinbell.com"/>
    <add key="PRFAppsEmail" value="cbtsApps@cbts.CinBell.com"/>
  
    <!-- DEBUG / TEST ONLY -->
    <add key="mailToTest" value="gcomorder@172.16.233.131"/>
    <add key="mailHostTest" value="172.16.233.131"/>

    <!-- PROD ONLY -->
    <add key="mailTo" value="gcomorder@172.16.239.131"/>
    <add key="mailHost" value="172.16.239.131"/>

    <!--Business Logic Switch -->
    <add key="ServiceDeskLogicSwitch" value="false"/>
    <add key="VIPRLogicSwitch" value="true"/>

    <add key="debugEmail" value="Joseph.Shinkle@cbts.net"/>
	  <!--START: ERO:2197-->
    <!--<add key="supportEmail" value="Joseph.Shinkle@cbts.net"/>-->
    <add key="supportEmail" value="CBT.AO.BUSINESSMARKET.AM@cinbell.com"/>
	  <!--END: ERO:2197-->
  </appSettings>

  <system.net>
    <mailSettings>
        <smtp from="cbtsgcomorder@cbts.cinbell.com">
        <network host="172.16.216.134" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>



</configuration>